## Handling missing values

In [1]:
import pandas as pd
import numpy as np
import warnings
warnings.filterwarnings('ignore')

In [2]:
data =pd.read_excel('./windspeed.xlsx')

In [3]:
data.head()

        Date  Temperature  WindSpeed Status
0 2020-05-06         35.6      10.50  sunny
1 2020-05-07         36.2      11.30    NaN
2 2020-05-08          NaN      12.40    NaN
3 2020-05-09         30.3      10.30  rainy
4 2020-05-10         29.6      10.58  windy

In [4]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 29 entries, 0 to 28
Data columns (total 4 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Date         29 non-null     datetime64[ns]
 1   Temperature  21 non-null     float64
 2   WindSpeed    24 non-null     float64
 3   Status       21 non-null     object
dtypes: datetime64[ns](1), float64(2), object(1)
memory usage: 1.0+ KB

In [5]:
data.describe()

                      Date  Temperature  WindSpeed
count                   29    21.000000  24.000000
mean   2020-05-20 00:00:00    32.069524  12.097083
min    2020-05-06 00:00:00    26.940000   8.060000
25%    2020-05-13 00:00:00    29.870000  10.487500
50%    2020-05-20 00:00:00    31.450000  11.800000
75%    2020-05-27 00:00:00    35.300000  13.862500
max    2020-06-03 00:00:00    36.450000  16.700000
std                    NaN     2.935429   2.462988

In [6]:
data.isnull().mean()*100

Date            0.000000
Temperature    27.586207
WindSpeed      17.241379
Status         27.586207
dtype: float64

In [7]:
data.fillna(0) # filling with a common value

         Date  Temperature  WindSpeed Status
0  2020-05-06        35.60      10.50  sunny
1  2020-05-07        36.20      11.30      0
2  2020-05-08         0.00      12.40      0
3  2020-05-09        30.30      10.30  rainy
4  2020-05-10        29.60      10.58  windy
5  2020-05-11         0.00      14.50  windy
6  2020-05-12         0.00      15.60  windy
7  2020-05-13        31.20      13.11  rainy
8  2020-05-14        35.30      16.33      0
9  2020-05-15         0.00      11.06  sunny
10 2020-05-16        29.63      12.30  sunny
11 2020-05-17         0.00      13.75  sunny
12 2020-05-18        35.87       0.00  windy
13 2020-05-19        36.45      16.70  sunny
14 2020-05-20        31.66       0.00  rainy
15 2020-05-21         0.00      10.45  windy
16 2020-05-22        33.69      10.65      0
17 2020-05-23        29.87       9.01  rainy
18 2020-05-24        28.22       8.06      0
19 2020-05-25         0.00       8.55      0
20 2020-05-26        26.94       8.65  sunny
21 2020-05-27        28.70       0.00  sunny
22 2020-05-28        30.12      13.54  windy
23 2020-05-29        31.00      14.36      0
24 2020-05-30        31.45       0.00  rainy
25 2020-05-31         0.00      11.23  rainy
26 2020-06-01        33.01      13.20      0
27 2020-06-02        32.55       0.00  windy
28 2020-06-03        36.10      14.20  windy

In [8]:
data.Status.fillna('sunny') # individual columns

0     sunny
1     sunny
2     sunny
3     rainy
4     windy
5     windy
6     windy
7     rainy
8     sunny
9     sunny
10    sunny
11    sunny
12    windy
13    sunny
14    rainy
15    windy
16    sunny
17    rainy
18    sunny
19    sunny
20    sunny
21    sunny
22    windy
23    sunny
24    rainy
25    rainy
26    sunny
27    windy
28    windy
Name: Status, dtype: object

In [9]:
data.fillna({
    'Temperature' :0,
    'WindSpeed' :10,
    'Status' :'sunny'
})

         Date  Temperature  WindSpeed Status
0  2020-05-06        35.60      10.50  sunny
1  2020-05-07        36.20      11.30  sunny
2  2020-05-08         0.00      12.40  sunny
3  2020-05-09        30.30      10.30  rainy
4  2020-05-10        29.60      10.58  windy
5  2020-05-11         0.00      14.50  windy
6  2020-05-12         0.00      15.60  windy
7  2020-05-13        31.20      13.11  rainy
8  2020-05-14        35.30      16.33  sunny
9  2020-05-15         0.00      11.06  sunny
10 2020-05-16        29.63      12.30  sunny
11 2020-05-17         0.00      13.75  sunny
12 2020-05-18        35.87      10.00  windy
13 2020-05-19        36.45      16.70  sunny
14 2020-05-20        31.66      10.00  rainy
15 2020-05-21         0.00      10.45  windy
16 2020-05-22        33.69      10.65  sunny
17 2020-05-23        29.87       9.01  rainy
18 2020-05-24        28.22       8.06  sunny
19 2020-05-25         0.00       8.55  sunny
20 2020-05-26        26.94       8.65  sunny
21 2020-05-27        28.70      10.00  sunny
22 2020-05-28        30.12      13.54  windy
23 2020-05-29        31.00      14.36  sunny
24 2020-05-30        31.45      10.00  rainy
25 2020-05-31         0.00      11.23  rainy
26 2020-06-01        33.01      13.20  sunny
27 2020-06-02        32.55      10.00  windy
28 2020-06-03        36.10      14.20  windy

#### forward fill(row)

In [10]:
data.fillna(method ='ffill')

         Date  Temperature  WindSpeed Status
0  2020-05-06        35.60      10.50  sunny
1  2020-05-07        36.20      11.30  sunny
2  2020-05-08        36.20      12.40  sunny
3  2020-05-09        30.30      10.30  rainy
4  2020-05-10        29.60      10.58  windy
5  2020-05-11        29.60      14.50  windy
6  2020-05-12        29.60      15.60  windy
7  2020-05-13        31.20      13.11  rainy
8  2020-05-14        35.30      16.33  rainy
9  2020-05-15        35.30      11.06  sunny
10 2020-05-16        29.63      12.30  sunny
11 2020-05-17        29.63      13.75  sunny
12 2020-05-18        35.87      13.75  windy
13 2020-05-19        36.45      16.70  sunny
14 2020-05-20        31.66      16.70  rainy
15 2020-05-21        31.66      10.45  windy
16 2020-05-22        33.69      10.65  windy
17 2020-05-23        29.87       9.01  rainy
18 2020-05-24        28.22       8.06  rainy
19 2020-05-25        28.22       8.55  rainy
20 2020-05-26        26.94       8.65  sunny
21 2020-05-27        28.70       8.65  sunny
22 2020-05-28        30.12      13.54  windy
23 2020-05-29        31.00      14.36  windy
24 2020-05-30        31.45      14.36  rainy
25 2020-05-31        31.45      11.23  rainy
26 2020-06-01        33.01      13.20  rainy
27 2020-06-02        32.55      13.20  windy
28 2020-06-03        36.10      14.20  windy

#### backward fill(row)

In [11]:
data.fillna(method ='bfill')

         Date  Temperature  WindSpeed Status
0  2020-05-06        35.60      10.50  sunny
1  2020-05-07        36.20      11.30  rainy
2  2020-05-08        30.30      12.40  rainy
3  2020-05-09        30.30      10.30  rainy
4  2020-05-10        29.60      10.58  windy
5  2020-05-11        31.20      14.50  windy
6  2020-05-12        31.20      15.60  windy
7  2020-05-13        31.20      13.11  rainy
8  2020-05-14        35.30      16.33  sunny
9  2020-05-15        29.63      11.06  sunny
10 2020-05-16        29.63      12.30  sunny
11 2020-05-17        35.87      13.75  sunny
12 2020-05-18        35.87      16.70  windy
13 2020-05-19        36.45      16.70  sunny
14 2020-05-20        31.66      10.45  rainy
15 2020-05-21        33.69      10.45  windy
16 2020-05-22        33.69      10.65  rainy
17 2020-05-23        29.87       9.01  rainy
18 2020-05-24        28.22       8.06  sunny
19 2020-05-25        26.94       8.55  sunny
20 2020-05-26        26.94       8.65  sunny
21 2020-05-27        28.70      13.54  sunny
22 2020-05-28        30.12      13.54  windy
23 2020-05-29        31.00      14.36  rainy
24 2020-05-30        31.45      11.23  rainy
25 2020-05-31        33.01      11.23  rainy
26 2020-06-01        33.01      13.20  windy
27 2020-06-02        32.55      14.20  windy
28 2020-06-03        36.10      14.20  windy

#### forward fill(column)

In [12]:
data.fillna(method='ffill',axis='columns')

                   Date          Temperature WindSpeed Status
0   2020-05-06 00:00:00                 35.6      10.5  sunny
1   2020-05-07 00:00:00                 36.2      11.3   11.3
2   2020-05-08 00:00:00  2020-05-08 00:00:00      12.4   12.4
3   2020-05-09 00:00:00                 30.3      10.3  rainy
4   2020-05-10 00:00:00                 29.6     10.58  windy
5   2020-05-11 00:00:00  2020-05-11 00:00:00      14.5  windy
6   2020-05-12 00:00:00  2020-05-12 00:00:00      15.6  windy
7   2020-05-13 00:00:00                 31.2     13.11  rainy
8   2020-05-14 00:00:00                 35.3     16.33  16.33
9   2020-05-15 00:00:00  2020-05-15 00:00:00     11.06  sunny
10  2020-05-16 00:00:00                29.63      12.3  sunny
11  2020-05-17 00:00:00  2020-05-17 00:00:00     13.75  sunny
12  2020-05-18 00:00:00                35.87     35.87  windy
13  2020-05-19 00:00:00                36.45      16.7  sunny
14  2020-05-20 00:00:00                31.66     31.66  rainy
15  2020-05-21 00:00:00  2020-05-21 00:00:00     10.45  windy
16  2020-05-22 00:00:00                33.69     10.65  10.65
17  2020-05-23 00:00:00                29.87      9.01  rainy
18  2020-05-24 00:00:00                28.22      8.06   8.06
19  2020-05-25 00:00:00  2020-05-25 00:00:00      8.55   8.55
20  2020-05-26 00:00:00                26.94      8.65  sunny
21  2020-05-27 00:00:00                 28.7      28.7  sunny
22  2020-05-28 00:00:00                30.12     13.54  windy
23  2020-05-29 00:00:00                 31.0     14.36  14.36
24  2020-05-30 00:00:00                31.45     31.45  rainy
25  2020-05-31 00:00:00  2020-05-31 00:00:00     11.23  rainy
26  2020-06-01 00:00:00                33.01      13.2   13.2
27  2020-06-02 00:00:00                32.55     32.55  windy
28  2020-06-03 00:00:00                 36.1      14.2  windy

#### backward fill(column)

In [13]:
data.fillna(method='bfill',axis='columns')

                   Date Temperature WindSpeed Status
0   2020-05-06 00:00:00        35.6      10.5  sunny
1   2020-05-07 00:00:00        36.2      11.3    NaN
2   2020-05-08 00:00:00        12.4      12.4    NaN
3   2020-05-09 00:00:00        30.3      10.3  rainy
4   2020-05-10 00:00:00        29.6     10.58  windy
5   2020-05-11 00:00:00        14.5      14.5  windy
6   2020-05-12 00:00:00        15.6      15.6  windy
7   2020-05-13 00:00:00        31.2     13.11  rainy
8   2020-05-14 00:00:00        35.3     16.33    NaN
9   2020-05-15 00:00:00       11.06     11.06  sunny
10  2020-05-16 00:00:00       29.63      12.3  sunny
11  2020-05-17 00:00:00       13.75     13.75  sunny
12  2020-05-18 00:00:00       35.87     windy  windy
13  2020-05-19 00:00:00       36.45      16.7  sunny
14  2020-05-20 00:00:00       31.66     rainy  rainy
15  2020-05-21 00:00:00       10.45     10.45  windy
16  2020-05-22 00:00:00       33.69     10.65    NaN
17  2020-05-23 00:00:00       29.87      9.01  rainy
18  2020-05-24 00:00:00       28.22      8.06    NaN
19  2020-05-25 00:00:00        8.55      8.55    NaN
20  2020-05-26 00:00:00       26.94      8.65  sunny
21  2020-05-27 00:00:00        28.7     sunny  sunny
22  2020-05-28 00:00:00       30.12     13.54  windy
23  2020-05-29 00:00:00        31.0     14.36    NaN
24  2020-05-30 00:00:00       31.45     rainy  rainy
25  2020-05-31 00:00:00       11.23     11.23  rainy
26  2020-06-01 00:00:00       33.01      13.2    NaN
27  2020-06-02 00:00:00       32.55     windy  windy
28  2020-06-03 00:00:00        36.1      14.2  windy

#### filling with mean and mode

In [14]:
data.Temperature.fillna(data.Temperature.mean())

0     35.600000
1     36.200000
2     32.069524
3     30.300000
4     29.600000
5     32.069524
6     32.069524
7     31.200000
8     35.300000
9     32.069524
10    29.630000
11    32.069524
12    35.870000
13    36.450000
14    31.660000
15    32.069524
16    33.690000
17    29.870000
18    28.220000
19    32.069524
20    26.940000
21    28.700000
22    30.120000
23    31.000000
24    31.450000
25    32.069524
26    33.010000
27    32.550000
28    36.100000
Name: Temperature, dtype: float64

In [15]:
data.WindSpeed.mean()

12.097083333333332

In [16]:
data.WindSpeed.fillna(12.09)

0     10.50
1     11.30
2     12.40
3     10.30
4     10.58
5     14.50
6     15.60
7     13.11
8     16.33
9     11.06
10    12.30
11    13.75
12    12.09
13    16.70
14    12.09
15    10.45
16    10.65
17     9.01
18     8.06
19     8.55
20     8.65
21    12.09
22    13.54
23    14.36
24    12.09
25    11.23
26    13.20
27    12.09
28    14.20
Name: WindSpeed, dtype: float64

In [17]:
data.Status.fillna(data.Status.mode())

0     sunny
1       NaN
2       NaN
3     rainy
4     windy
5     windy
6     windy
7     rainy
8       NaN
9     sunny
10    sunny
11    sunny
12    windy
13    sunny
14    rainy
15    windy
16      NaN
17    rainy
18      NaN
19      NaN
20    sunny
21    sunny
22    windy
23      NaN
24    rainy
25    rainy
26      NaN
27    windy
28    windy
Name: Status, dtype: object

In [18]:
data.Status.mode()

0    windy
Name: Status, dtype: object

In [19]:
data.Status.fillna('windy')

0     sunny
1     windy
2     windy
3     rainy
4     windy
5     windy
6     windy
7     rainy
8     windy
9     sunny
10    sunny
11    sunny
12    windy
13    sunny
14    rainy
15    windy
16    windy
17    rainy
18    windy
19    windy
20    sunny
21    sunny
22    windy
23    windy
24    rainy
25    rainy
26    windy
27    windy
28    windy
Name: Status, dtype: object

### Interpolate missing value

In [20]:
data.Temperature

0     35.60
1     36.20
2       NaN
3     30.30
4     29.60
5       NaN
6       NaN
7     31.20
8     35.30
9       NaN
10    29.63
11      NaN
12    35.87
13    36.45
14    31.66
15      NaN
16    33.69
17    29.87
18    28.22
19      NaN
20    26.94
21    28.70
22    30.12
23    31.00
24    31.45
25      NaN
26    33.01
27    32.55
28    36.10
Name: Temperature, dtype: float64

In [21]:
data.Temperature.interpolate()

0     35.600000
1     36.200000
2     33.250000
3     30.300000
4     29.600000
5     30.133333
6     30.666667
7     31.200000
8     35.300000
9     32.465000
10    29.630000
11    32.750000
12    35.870000
13    36.450000
14    31.660000
15    32.675000
16    33.690000
17    29.870000
18    28.220000
19    27.580000
20    26.940000
21    28.700000
22    30.120000
23    31.000000
24    31.450000
25    32.230000
26    33.010000
27    32.550000
28    36.100000
Name: Temperature, dtype: float64

In [22]:
data.WindSpeed.interpolate()

0     10.500
1     11.300
2     12.400
3     10.300
4     10.580
5     14.500
6     15.600
7     13.110
8     16.330
9     11.060
10    12.300
11    13.750
12    15.225
13    16.700
14    13.575
15    10.450
16    10.650
17     9.010
18     8.060
19     8.550
20     8.650
21    11.095
22    13.540
23    14.360
24    12.795
25    11.230
26    13.200
27    13.700
28    14.200
Name: WindSpeed, dtype: float64